html body{
  width: 100%;
  height: 100%;
  background-color: #001b2e;
  display: flex;
  justify-content: center;
  margin: 0%;
}

 #root{
  height: 100%;
  width: 100%;
 margin: 0;
 padding: 0;
  color: #ADB6C4;
  
}

.Home {
  display: flex;
  flex-wrap: wrap;
  background-color: #001b2e;
  color: #f7e8a4;
  height: auto;
  width: 100%;
  height: 95%;
  justify-content: center;
  line-height: 1.5;
  margin-top: 3%;
}

.about-section {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #001b2e;
}


.projectBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    background-color: #294c60;
}
#blogMain{
  margin-top: 2%;
  margin-bottom: 5%;
}

.blogPost{
  margin-top: 5%;
  margin-bottom: 5%;
    margin-left: 12.5%;
    width: 75%;
    height: 100%;
    background-color: #ADB6C4;
    color:#001B2E;
    text-align: center;
}
.blogPost>h1 {
  color: #f5cb5c;
  text-align: center;
}
.blogPost>h2{
  color: #ADB6C4;
}


.form{
  margin-top: 5%;
  
  background-color:#ADB6C4;
  border: #001B2E 1px ridge;
  box-shadow: #f7e8a4 5px 5px 25px;
}


#name {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#self {
z-index: 10;
margin-top: -10%;
width: 350px;
  border: #001B2E 2 px solid;
  border-radius: 50%;


}

.PDF{
  display: flex;
}

#Footer{
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: xx-large;
  background-color: #294C60;
}
#downloadNav{
  text-decoration: none;
  color: grey;
  font-size: medium;
  margin-top: 1.3%;
}
#fLink{
  text-decoration: none;
  color: #f7e8a4;
  border: #f5cb5c 2px solid;
}
