html, body{
  width: 100%;
  height: 100%;
  background-color: #001b2e;
  display: flex;
  justify-content: center;
  margin: 0%;
}

 #root{
  height: 100%;
  width: 100%;
 margin: 0;
 padding: 0;
  color: #ADB6C4;
  
}

.Home {
  display: flex;
  flex-wrap: wrap;
  background-color: #001b2e;
  color: #f7e8a4;
  height: auto;
  width: 100%;
  height: 95%;
  justify-content: center;
  line-height: 1.5;
  margin-top: 3%;
  background-image: ;
 
}
 .nav-bar {
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0%;
  background-color: #adb6c4;
  
  display: flex;
  justify-content: space-evenly;

 
padding: 0%;
 
}

.nav-bar a {
  color: #294c60;
  font-size: large;
  height: 100%;
  text-decoration: none;
  
}
.navList{
  margin: 25%;
  
}
.dropdown-menu{

}

about-section {
  width: 80%;
  height: 50%;
  font-size: large;
  margin-top: 25%;
  position: relative;
  top: 15%;
  background-color: #001b2e;
}
name-image img {
    width: 95%;
  border: #001b2e 5px ridge;
  border-radius: 30%;
  transition-property: border-color;
    transition-duration: 1s;
}

#lowerHalf{
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  background-color: #294c60;
}
#projects {
    display: flex;
    justify-content: center;
  width: 50%;
}
#blogEntry {
  width: 100%;
  background-color: #f7e8a4;
  color: #001B2E;

}
.projectBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    background-color: #294c60;
}
.projectBox img{
    /* border: #f7e8a4 5px solid; */
    height: 100%;
    width: 80%;
    
}
.blogPost{
  margin-top: 10%;
    /* display: flex;
    flex-wrap: wrap; */
    width: 75%;
    height: 100%;
    background-color: #294c60;
    color:#001B2E;
    text-align: center;
}
.blogPost>h1 {
  color: #f5cb5c;
  text-align: center;
}
.blogPost>h2{
  color: #ADB6C4;
}
#mainBlog{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: #294c60;
    width: 100%;
    height: 70%;
  
    
}
#mainBlog a{
    color: #f7e8a4;
    
    
}
#mainBlog a:hover{
    cursor: crosshair;
}
form{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 500px;
    height: 500px;
    align-items: center;
    
}
.form{
  margin-top: 1%;
  display: flex;
  justify-content: center;
  background-color:#294C60;
  border: #001B2E 3px ridge;
  box-shadow: #f7e8a4 10px 10px 10px;

}



contact-me{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  justify-content: center;
  background-color: #294c60;
  border: #001B2E solid 5px;
  border-radius: 10%;
 
  
}
#top-image  {
 
  margin-top: 5%;


  background-image: url(./visuals/coding_image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: blur(4px);
  
}

#name {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#self {
z-index: 10;
margin-top: -10%;
width: 350px;
  border: #001B2E 2 px solid;
  border-radius: 50%;


}

.PDF{
  display: flex;
}
